[Unit]
Description=Suwako-chan Discord Imagebot

[Service]
Type=simple
PIDFile=/run/suwako-bot.pid
WorkingDirectory=/opt/suwako-bot
ExecStart=/bin/bash /opt/suwako-bot/run.sh -v
ExecStop=kill /run/suwako-bot.pid
User=suwako
Group=suwako

[Install]
WantedBy=multi-user.target
