[Unit]
Description=Suwako-chan Discord Imagebot
After=network.target

[Service]
Type=simple
PIDFile=/run/suwako-bot.pid
WorkingDirectory=/opt/suwako-bot
ExecStart=/bin/bash /opt/suwako-bot/run.sh -v
ExecStop=/bin/kill /run/suwako-bot.pid
User=suwako
Group=suwako
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
